<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Forum&display=swap" rel="stylesheet">

  <link href="static/style.css" rel="stylesheet">
  <title>M J Dudak Woodturning</title>
</head>
<body>
    <div class="header">
        <h1>M J Dudak Woodturning</h1>
        <div class="menu pure-g">
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-4 menu-item">
                <a href="#about">About</a>
            </div>
            <div class="pure-u-1-4 menu-item">
                <a href="#work">Work</a>
            </div>
        </div>
    </div>
    <div id="about" class="pure-g">
        <div class="pure-u-lg-1-8 pure-u-md-1-24"></div>
        <div class="pure-u-lg-3-4 pure-u-md-11-12">
        <div class="pure-g">
            <div class="pure-u-lg-1-3 pure-u-md-1 pure-u-sm-1"><img src="images/turning_photo.jpg" class="profile-photo"></div>
            <div class="pure-u-lg-2-3 pure-u-md-1 pure-u-sm-1 text-block">
            <p>Hi! My name is Matthew Dudak and I am a hobbyist woodturner. I am still relatively new to woodturning, but am really enjoying the learning journey. I made this site just to show off some of my work, please enjoy! If you are interested in commissioning any work, you can email me <a href="mailto:woodturning@mjdudak.com">woodturning at mjdudak dot com</a>.</p></div>
        </div>
        </div>
        
        <div class="pure-u-lg-1-8 pure-u-md-1-24"></div>
    </div>
    <div id="work" class="pure-g">
        <div class="subheader">
            <h2>Work</h2>
        </div>
        <div class="pure-u-lg-1-8 pure-u-md-1-24 pure-u-0"></div>
        <div class="pure-u-lg-3-4 pure-u-md-11-12 pure-u-1">
            <div class="pure-g">
                {% for d in data %}
                    <div class="pure-u-1 pure-u-lg-6-24 pure-u-md-11-24 single-image" id="{{ d.file_name }}_thumb">
                        <a href="#{{ d.file_name }}"><img src="images/{{ d.file_name }}">
                            <div class="caption-box">
                                <span class="caption">{{ d.title }} ({{ d.species }}) <br>{{ d.month }} {{ d.year }}</span>
                            </div></a>
                    </div>
                    <div class="pure-u-0 pure-u-lg-1-24 pure-u-md-1-24 "></div>
                {% endfor %}
            </div>
        </div>
        <div class="pure-u-lg-1-8 pure-u-md-1-24 pure-u-0"></div>
    </div>
    {% for d in data %}
        <div class="overlay" id="{{ d.file_name }}">
            <div class="popup">
                <a class="close" href="#{{ d.file_name }}_thumb">&times;</a>
                <h2>{{ d.title }} ({{ d.species }}) <br>{{ d.month }} {{ d.year }}</h2>
                <img src="images/{{ d.file_name }}">
            </div>
            
        </div>
    {% endfor %}
    
</body>